.rotate {
    width: 150px;
    height: 150px;
    background-color: #3498db;
}

.fade {
    width: 150px;
    height: 150px;
    background-color: orange;
}

.visible {
    animation: fade 2s ease-in-out
}

@keyframes fade {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pulse {
    width: 150px;
    height: 150px;
    background-color: #272727;
}

.pulsing {
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}